* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Para que quede por encima del contenido */
}

.cabecera img {
    width: 100px;
    height: auto;
}

.navegacion {
    width: 30%;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.menu__item {
    padding: 10px;
    display: inline-block; /* Cambiado desde table-cell */
    vertical-align: middle;
}

.menu__item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: inline-block; /* Asegura que transform funcione */
    transition: transform 0.3s ease, color 0.3s ease;
}

.menu__item a:hover {
    color: #007BFF;
    transform: scale(1.2); /* Efecto de agrandado */
}

.contenido {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    padding-top: 10%;
    padding-bottom: 50px;
}

.contenido__principal {
    width: 30%;
    padding-left: 5%;
}

.contenido__principal h2 {
    margin-bottom: 20px;
}

.contenido__principal p {
    text-align: justify;
}

.contenido__secundario {
    width: 65%;
    padding-inline: 5%;
}

.contenido__secundario h2{
    margin-block: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
    .navegacion {
        width: 100%;
    }
    
    .menu {
        flex-direction: column;
        text-align: center;
    }

    .menu__item {
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    .navegacion {
        display: none;
    }
}
